@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-txt: #efe5de;
  --color-background: #080503;
  --color-primary: #e3b999;
  --color-secondary: #914f1c;
  --color-accent: #e98c44;
}

body {
  @apply font-[var(--font-inter)] text-[color:var(--color-txt)] bg-[color:var(--color-background)];
  box-sizing: border-box;
}
