@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-txt: #efece9;
  --color-background: #120d09;
  --color-primary: #d9b08f;
  --color-secondary: #884c1d;
  --color-accent: #e87d28;
  --color-altBg: #1c150f;
}

body {
  @apply font-[var(--font-inter)] text-[color:var(--color-txt)] bg-[color:var(--color-background)];
  box-sizing: border-box;
}
